@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <title>About - Law Firm Web Template</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div id="contents">
        <div class="clearfix">
            <h1>About Us</h1>
            <!--<div class="frame2">
                <div class="box">
                    <img src="images/thumb-up.jpg" alt="Img" height="298" width="924">
                </div>
            </div>-->
            <h2>High quality technology</h2>
            <p>
                Escribir aqui sobre la maquinaria y tecnologia de calidad que se utilizan.
            </p>
            <h2>Supporting you and Rocky Point</h2>
            <p>
                Escribir aqui frase motivadora.
            </p>
            <div>

            </div>
        </div>

        <div class="testimonial">
            <div class="box">
                <img src="images/cama.jpg" alt="Img" height="130" width="197">
            </div>
            <div class="box">
                <img src="images/cama1.jpg" alt="Img" height="130" width="197">
            </div>
        </div>
    </div>
</body>
</html>
