@{
    ViewBag.Title = "About";
}
<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <br />
    <div class="highlight">
        <div class="clearfix">
            <h1 style="text-align: center"><strong>Estrada Family Dentistry</strong></h1>
            <p>
                Estrada Family Dentistry provides two locations in Puerto Penasco (Rocky Point) Mexico. We offer family dental services to local and international patients, including specialist services and cosmetic dentistry.

                We are specialsits in cosmetic destisrty, dental implants, and oral surgery. Dr. A. Estrada has post-graduate training in dental esthetics and dental implants.
                <br />
                At Estrada Family Dentistry we want to give you a smile that is not only healthy but one that looks goo too. From full dental capabilities with onsite laboratory to ensure our pursuit of quality is maintained for all our prosthodontic services, such as implants, veneers, crowns, and full denture options.
                <br />
                We look forward to welcoming you to Estrada Family Dentisrty in  Puerto Penasco (Rocky Point). Please consider a yearly family membership for a discount of services for the whole family.
            </p>
        </div>
    </div>
    <br /><br />

    <div>
        <div class="col-md-6">
            <div class="thumbnail">
                <a href="~/image/img_ (35).jpg" target="_red">
                    <img src="~/image/img_ (35).jpg" alt="CAMA" style="width:100%">
                    <div class="">
                        <h2><stronger>High quality technology</stronger></h2><br />              
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="~/image/img_ (23).jpg" target="_red">
                        <img src="~/image/img_ (23).jpg" alt="CAMA" style="width:100%">
                        <div class="">
                            <h2><stronger>Comfort</stronger></h2><br />
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br />

       
        <div class="col-md-6">
            <div class="thumbnail">
                <a href="~/image/img_ (43).jpg" target="_red">
                    <img src="~/image/img_ (43).jpg" alt="CAMA" style="width:100%">
                    <div class="">
                        <h2><stronger>Helping you with pleasure</stronger></h2><br />
                    </div>
                </a>
            </div>
        </div>
      

        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="~/image/img_ (31).jpg" target="_red">
                        <img src="~/image/img_ (31).jpg" alt="CAMA" style="width:100%">
                        <div class="">
                            <h2><stronger>Security</stronger></h2><br />
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

     

    @*<h2>High quality technology</h2>
        <p>
            Escribir aqui sobre la maquinaria y tecnologia de calidad que se utilizan. <img src="~/image/cama.jpg"/>
        </p>
        <h2>Supporting you and Rocky Point</h2>
        <p>
            Escribir aqui frase motivadora.
        </p>
        <div>*@

    </div>
    </div>

    @*<div class="testimonial">
            <div class="box">
                <img src="images/cama.jpg" alt="Img" height="130" width="197">
            </div>
            <div class="box">
                <img src="images/cama1.jpg" alt="Img" height="130" width="197">
            </div>
        </div>*@
    </div>
</body>
</html>
