@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    <p>Revolucion
        #160 local A
        Puerto Penasco, Sonora
        Mexico
        </p><br />

    <abbr title="Phone">Phone:</abbr>
    From USA 011 52 638.383..5652<br />
    In Mexico 383.5652<br />
   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>