@*@{
        ViewBag.Title = "Contact";
    }*@
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h1>
    Contact Us
    Do you want to make an appointment
</h1>
<div class="element googlemap-element " id="mapa" style=""
      margin:auto; 
    text-align:center;" >
    <iframe width="800" height="350" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBUtDW2kgUk1rCKcVwjQKecQIh7NwsTz-M&q=31.33072 -113.53748&zoom=16" frameborder="0" @*style="border:0"*@></iframe>
</div>
<div>
    <fieldset>
        <legend>Address: </legend>
        Revolución
        #160 local A
        Puerto Penasco, Sonora
        Mexico
    </fieldset>
    <br />
    <fieldset>
        <legend>Phone Number:</legend>
        From USA Dial: 011 52 (638) 3835652
        Cell: 011 521(638) 1120357
        U.S (602) 7744494
    </fieldset>
    <br />
    <fieldset>
        <legend>Email:</legend>
        ddsabe@hotmail.com
    </fieldset>
</div>




<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>