
@{
    ViewBag.Title = "Discount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="highlight">
    <div class="clearfix">
        <h1 style="text-align: center; color: red; font-weight: 900;"><strong> FAMILY MEMBERSHIP NOW AVAILABLE<br /><br />Yearly family membership for only $500 USD</strong></h1><br />
        <h2 style="text-align: center"><strong>Discounted prices for most services, from routine dental cleaning to extensive and complex major procedures. </strong></h2>
    </div>
</div>
<br /><br />


<div class="container">
    <div class="col-md-6">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>CLEANING, WHITENING, FILLINGS, EXTRACTIONS</th>
                    <th>REGULAR PRICE</th>
                    <th>MEMBERSHIP PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Deep cleaning, scaling, and root planing per quadrent (four quadrents) </td>
                    <td>120.00</td>
                    <td>80.00</td>
                </tr>
                <tr>
                    <td>Regular cleaning  </td>
                    <td>70.00</td>
                    <td>50.00</td>
                </tr>
                <tr>
                    <td>Laser whitening</td>
                    <td>250.00</td>
                    <td>200.00</td>
                </tr>
                <tr>
                    <td>Teeth whitening-Home Kit</td>
                    <td>300.00</td>
                    <td>200.00</td>
                </tr>
                <tr>
                    <td>Composite filling</td>
                    <td>70.00</td>
                    <td>50.00</td>
                </tr>
                <tr>
                    <td>Inlay/Onlay </td>
                    <td>300.00-500.00 </td>
                    <td>200.00-400.00</td>
                </tr>
                <tr>
                    <td>Extraction (simple)</td>
                    <td>80.00</td>
                    <td>60.00</td>
                </tr>
                <tr>
                    <td>Extraction (surgical impacted) </td>
                    <td>150.00-300.00 </td>
                    <td>100.00-250.00</td>
                </tr>
            </tbody>
        </table>
    </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/image/family.png" target="_red">
                        <img src="~/image/family.png" alt="CAMA" style="width:100%">
                    </a>
                </div>
            </div>
        </div>
    
</div>
