@{
    ViewBag.Title = "Home Page";
}
<h1>*Mostrar un slide de ofertas 
    <br />*Mostar los sevicios  readireccionar a una pagina o hacer un parcial view con los servicios<br />
    *ser emotivos y pedirle al usuario que se registre para poder hacer una cita<br />
    *tener un control y poner un panel a la izquierda solo en esta pagina... es para los servicios, las ofertas o paquetes.</h1>
<p  >un cliente pude: crear citas... puede cancelarla... puede crear un historial medico... puede puede modificar sus datos...  </p>
<p>un admin tiene el permiso de todo...</p>
    
    