@{
    ViewBag.Title = "OurTeam";
}
<div class="com">
    Estrada Famly Denistry provides two locations in Puerto Penasco (Rocky Point) Mexico. We offer family dental services to local and international patients, including specialist services and cosmetic dentistry.

    We are specialsits in cosmetic destisrty, dental implants, and oral surgery. Dr. A. Estrada has post-graduate training in dental esthetics and dental implants.

    At Estrada Family Dentistry we want to give you a smile that is not only healthy but one that looks goo too. From full dental capabilities with onsite laboratory to ensure our pursuit of quality is maintained for all our prosthodontic services, such as implants, veneers, crowns, and full denture options.

    We do not just do specialist dentistry. We offer full general dental care suitable for maintaining the dental health for the whole family with such services as routine cleaning, fillings, and extractions.

    We have English and Spanish speeking staff to suit your every need. Offer long opening hours from 9am to 7pm except Sundays. We have the newest and latest equipment, <strong> a newly renovated faliclity in 2016.</strong> We have the newest chairs in Rocky Point. We use branded materials and ISO certification. (International Organization for Standardization)

    We look forward to welcoming you to Estrada Family Dentisrty in  Puerto Penasco (Rocky Point). Please consider a yearly family membership for a discount of services for the whole family.

</div>