
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="highlight">
    <div class="clearfix">
        <h1 style="text-align: center"><strong> Services</strong></h1>
        <p style="text-align:center">Escribir aqui algo sobre los servicios que brinda la empresa</p>
    </div>
</div>
<br />
<br />

<div class="container">
    <div class="col-md-4">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th><strong>PREVENTION:</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>~Regular Dental Checkups</td>
                </tr>
                <tr>
                    <td>~Dental Sealants</td>
                </tr>
                <tr>
                    <td>~Routine Cleaning</td>
                </tr>
                <tr>
                    <td>~Teeth whitening, take home kit</td>
                </tr>
                <tr>
                    <td>~Teeth whitening, LASER treatment</td>
                </tr>
                <tr>
                    <td>~Oral hygiene education</td>
                </tr>
                <tr>
                    <td>~Pediatric dentistry</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th><strong>DENTURES:</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>~Dental implants</td>
                </tr>
                <tr>
                    <td>~Full denture acrylic</td>
                </tr>
                <tr>
                    <td>~Full denture immediate orthealing</td>
                </tr>
                <tr>
                    <td>~Partial Acrylic frame</td>
                </tr>
                <tr>
                    <td>~Partial flexable frame</td>
                </tr>
                <tr>
                    <td>~Partial metal frame</td>
                </tr>
                <tr>
                    <td>~Partial metal frame</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th><strong>ENDONDONTIC:</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>~Composite Veneer (direct bonding)</td>
                </tr>
                <tr>
                    <td>~Full Porcelain/Ceramic crown</td>
                </tr>
                <tr>
                    <td>~Porcelain fused to gold crown</td>
                </tr>
                <tr>
                    <td>~Porcelain fused to metal crown/precious alloy</td>
                </tr>
                <tr>
                    <td>~Porcelain Veneer</td>
                </tr>
                <tr>
                    <td>~Zirconia Crown</td>
                </tr>
                <tr>
                    <td>~Zirconia Veneer</td>
                </tr>
                <tr>
                    <td>~E-Max Crown</td> 
                </tr>
                <tr>
                    <td>~E-Max Veneer</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>