
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="highlight">
    <div class="clearfix">
        <h1 style="text-align: center"><strong> Services</strong></h1>
        <p style="text-align: justify">At Estrada Family Dental, we know that emergency situations arise when you least expect – and we don’t expect them to always occur during our office hours either!
    <br />
Most importantly, we have an on-call dentist for your after-hour dental needs. In any emergency dental situation, please do not hesitate to contact us.</p>
        <p style="text-align: center"><strong>YOUR EMERGENCY BECOMES OUR EMERGENCY</strong></p>
    </div>
</div>
<br />
<br />

<div class="container">
    <div class="col-md-4">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th><strong>PREVENTION:</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>~Regular Dental Checkups</td>
                </tr>
                <tr>
                    <td>~Dental Sealants</td>
                </tr>
                <tr>
                    <td>~Routine Cleaning</td>
                </tr>
                <tr>
                    <td>~Teeth whitening, take home kit</td>
                </tr>
                <tr>
                    <td>~Teeth whitening, LASER treatment</td>
                </tr>
                <tr>
                    <td>~Oral hygiene education</td>
                </tr>
                <tr>
                    <td>~Pediatric dentistry</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th><strong>DENTURES:</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>~Dental implants</td>
                </tr>
                <tr>
                    <td>~Full denture acrylic</td>
                </tr>
                <tr>
                    <td>~Full denture immediate orthealing</td>
                </tr>
                <tr>
                    <td>~Partial Acrylic frame</td>
                </tr>
                <tr>
                    <td>~Partial flexable frame</td>
                </tr>
                <tr>
                    <td>~Partial metal frame</td>
                </tr>
                <tr>
                    <td>~Partial metal frame</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th><strong>ENDONDONTIC:</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>~Composite Veneer (direct bonding)</td>
                </tr>
                <tr>
                    <td>~Full Porcelain/Ceramic crown</td>
                </tr>
                <tr>
                    <td>~Porcelain fused to gold crown</td>
                </tr>
                <tr>
                    <td>~Porcelain fused to metal crown/precious alloy</td>
                </tr>
                <tr>
                    <td>~Porcelain Veneer</td>
                </tr>
                <tr>
                    <td>~Zirconia Crown</td>
                </tr>
                <tr>
                    <td>~Root Canal</td>
                </tr>
                <tr>
                    <td>~Endodontic surgical procedures</td> 
                </tr>
                <tr>
                    <td>~E-Max Veneer</td>
                </tr>
                <tr>
                    <td>~Endodontic diagnosis</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th><strong>PERDONTAL DISEASE:</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>~Gingivitis</td>
                </tr>
                <tr>
                    <td>~Peridontitis</td>
                </tr>
                <tr>
                    <td>~Advanced Peridontitis</td>
                </tr>
                <tr>
                    <td>~Peridontal Intervention and Maintenance</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th><strong>OTHERS:</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>~Tooth Extractions</td>
                </tr>
                <tr>
                    <td>~Dental Implants</td>
                </tr>
                <tr>
                    <td>~Digital X-Rays</td>
                </tr>
                <tr>
                    <td>~Composite Fillings</td>
                </tr>
                <tr>
                    <td>~Porcelain Inlay/Onlay</td>
                </tr>
                <tr>
                    <td>~Oral Surgery</td>
                </tr>
                <tr>
                    <td>~IV Sedation</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>