
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Services</h2>

<h1>HOLA, ESTOY BIEN BUENOTE Y BIEN PAPUSHO</h1>

<div>

    <strong>Prevention</strong>
    <ul>Regular Dental Checkups</ul>
    <ul> Dental Sealants</ul>
    <ul> Routine Cleaning</ul>
    <ul> Teeth whitening, take home kit</ul>
    <ul> Teeth whitening, LASER treatment</ul>
    <ul>Oral hygiene education</ul>
    <ul>Pediatric dentistry</ul>

</div>