
@{
    ViewBag.Title = "Team";

}
<body>
    <br />
    <div class="highlight">
        <div class="clearfix">
            <h1 style="text-align: center"><strong> Team</strong></h1>
            <p style="text-align: justify">We have English and Spanish speeking staff to suit your every need. Offer long opening hours from 9am to 7pm except Sundays. We have the newest and latest equipment, with a newly renovated faliclity in 2016. <br />We have the newest chairs in Rocky Point. We use branded materials and ISO certification. (International Organization for Standardization)</p>
        </div>
    </div>
    <br /><br />

    <div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/image/ZAIRA.jpg" target="_red">
                    <img src="~/image/ZAIRA.jpg" alt="CAMA" style="width:100%">
                    <div class="">
                        <h2 style="color:red; text-align: center;"><stronger>DDS Zaira G. Medina Victoria</stronger></h2>
                        <h2>Dentist</h2>
                        <br />
                        <p>DDS 2010 UABC, Mexicali, Mexico</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/image/dentista1.jpg" target="_red">
                    <img src="~/image/dentista1.jpg" alt="CAMA" style="width:100%;" >
                    <div class="">
                        <h2 style="color:red; text-align: center;"><stronger>DDS Jesus Alberto Cota</stronger></h2>
                        <h2>Dentist-Root Canal Specialist</h2>
                        <br /><br /><br /><br />
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

