# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
EstradaDental\obj
EstradaDental/obj/Debug/EstradaDental.pdb
EstradaDental/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EstradaDental/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
EstradaDental/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/EstradaDental/App_Data
.vs/EstradaDental/v14/.suo
.vs/EstradaDental/v14/.suo
EstradaDental/bin/EstradaDental.dll
EstradaDental/bin/EstradaDental.dll.config
EstradaDental/bin/EstradaDental.dll.config
EstradaDental/bin/EstradaDental.pdb
EstradaDental/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EstradaDental/obj/Debug/EstradaDental.pdb
EstradaDental/obj/Debug/EstradaDental.csproj.FileListAbsolute.txt
EstradaDental/obj/Debug/EstradaDental.dll
EstradaDental/obj/Debug/EstradaDental.csproj.GenerateResource.Cache
